DATABASE_URL=
PAYMENT_NETWORK=
PAYMENT_TOKEN=
PAYMENT_TOKEN_CONTRACT=
PAYMENT_RECIPIENT_ADDRESS=
PAYMENT_AMOUNT=
PAYMENT_CURRENCY=
BLOCKCHAIN_RPC_URL=
BLOCKCHAIN_API_KEY=
LICENSE_SECRET=
ADMIN_AUTH_SECRET=
MIN_CONFIRMATIONS=12
NEXT_PUBLIC_SITE_URL=https://blitle.com
